<phpunit    bootstrap="vendor/autoload.php"
            colors="true"
            backupGlobals="false"
            backupStaticAttributes="false"
            convertErrorsToExceptions="true"
            convertNoticesToExceptions="true"
            convertWarningsToExceptions="true"
            processIsolation="false"
            stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Docler PHP">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src</directory>
    </whitelist>
</filter>
<logging>
    <log type="coverage-html" target="tests/report" lowUpperBound="35"
        highLowerBound="70"/>
    <log type="testdox-html" target="tests/report/doc/report.html"/>
</logging>
</phpunit>