<!DOCTYPE html>
<html>
	<head>
		<title>doclerPHP</title>
		<link href="static/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<h1>DoclerPHP - Tic Tac Toe</h1>
		<div id="messages" class="center"></div>
		<div id="game" class="center"></div>
		<div id="status" class="center"></div>
		<div id="control" class="center"></div>
		<script src="static/js/jquery-3.3.1.min.js"></script>
		<script src="static/js/main.js"></script>
	</body>
</html>